<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Cupcakes</h1>

    <form id="cupcake-form">
        <input type="text" id="flavor" name="flavor" placeholder="enter flavor">
        <input type="text" id="size" name="size" placeholder="enter size">   
        <input type="text" id="rating" name="rating" placeholder="enter rating">
        <input type="text" id="image" name="image" placeholder="enter image url">
        <button>Submit Cupcake</button>
    </form>
    
    <ul id="cupcake-list">

    </ul>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="static/app.js"></script>
</body>
</html>