<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoptions</title>
</head>
<body>
    <h1>Pets Available For Adoption</h1>
    {% for pet in pets %}
    <div>
        {% if pet.photo_url == '' or pet.photo_url == None %}
        No picture for {{pet.name}} the {{pet.species}}
    {% else %}
        <img src="{{pet.photo_url}}" alt="photo of a {{pet.species}}">
    {% endif %}
        <br>
        <a href="/{{pet.id}}">{{pet.name}}</a>
        <br>
        {% if pet.available == True%}
            Available
        {% else %}
            Not Available
        {% endif %}

    </div>
    {% endfor %}

    <form action="/add">
        <button>Add Pet</button>
    </form>

</body>
</html>